@model Models.Employee

@{
    ViewData["Title"] = "Delete Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<dl class="row">
    <dt class="col-sm-3 font-weight-bold">
        @Html.DisplayNameFor(model => model.FirstName)
    </dt>
    <dd class="col-sm-9">
        @Model.FirstName
    </dd>
    <dt class="col-sm-3 font-weight-bold">
        @Html.DisplayNameFor(model => model.MiddleName)
    </dt>
    <dd class="col-sm-9">
        @Model.MiddleName
    </dd>
    <dt class="col-sm-3 font-weight-bold">
        @Html.DisplayNameFor(model => model.LastName)
    </dt>
    <dd class="col-sm-9">
        @Model.LastName
    </dd>
    <dt class="col-sm-3 font-weight-bold">
        Employee ID
    </dt>
    <dd class="col-sm-9">
        @Model.Id
    </dd>
    <dt class="col-sm-3 font-weight-bold">
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd class="col-sm-9">
        @Model.Email
    </dd>
    <dt class="col-sm-3 font-weight-bold">
        @Html.DisplayNameFor(model => model.Status)
    </dt>
    <dd class="col-sm-9">
        @Model.Status
    </dd>
    <dt class="col-sm-3 font-weight-bold">
        @Html.DisplayNameFor(model => model.Address)
    </dt>
    <dd class="col-sm-9">
        @Model.Address
    </dd>
    <dt class="col-sm-3 font-weight-bold">
        @Html.DisplayNameFor(model => model.City)
    </dt>
    <dd class="col-sm-9">
        @Model.City
    </dd>
    <dt class="col-sm-3 font-weight-bold">
        @Html.DisplayNameFor(model => model.State)
    </dt>
    <dd class="col-sm-9">
        @Model.State
    </dd>
    <dt class="col-sm-3 font-weight-bold">
        @Html.DisplayNameFor(model => model.Zip)
    </dt>
    <dd class="col-sm-9">
        @Model.Zip
    </dd>
    <dt class="col-sm-3 font-weight-bold">
        Cell Phone
    </dt>
    <dd class="col-sm-9">
        @Model.PhoneNumber
    </dd>
    <dt class="col-sm-3 font-weight-bold">
        @Html.DisplayNameFor(model => model.HomePhoneNum)
    </dt>
    <dd class="col-sm-9">
        @Model.HomePhoneNum
    </dd>
</dl>
<div class="form-group">
    <a data-toggle="modal" data-target="#deleteModal" class="btn btn-danger">Delete</a>
</div>
<div class="mb-3">
    <a asp-action="Index">Back to List</a>
</div>
<div class="modal fade show" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true" style="display: none">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteLabel">Are you sure?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to
                <label class="text-danger">permanently delete </label>
                this employee? This process cannot be undone.
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a asp-action="DeleteEmployee" class="btn btn-danger" asp-route-id="@Model.Id">Yes, delete it</a>
            </div>
        </div>
    </div>
</div>