@model TCMS_Web.Models.ShippingViewModel
@{
    ViewData["Title"] = "Shipping Assignment Details";
    Layout = "~/Areas/_Layout.cshtml";
    ViewBag.Controller = "Driver";

}
<div>
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#first" aria-controls="first" role="tab" data-toggle="tab">Basic Info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#second" aria-controls="second" role="tab" data-toggle="tab">Detailed Info</a>
        </li>
    </ul>
</div>

<div class="tab-content mt-3">
    <div role="tabpanel" class="tab-pane active" id="first">
        <dl class="row">
            <dt class="col-sm-3 font-weight-bold">
                @Html.DisplayNameFor(model => model.EmployeeID)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.EmployeeID)
            </dd>

            <dt class="col-sm-3 font-weight-bold">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt class="col-sm-3 font-weight-bold">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt class="col-sm-3 font-weight-bold">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dt class="col-sm-3 font-weight-bold">
                @Html.DisplayNameFor(model => model.VehicleID)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.VehicleID)
            </dd>

            <dt class="col-sm-3 font-weight-bold">
                @Html.DisplayNameFor(model => model.Brand)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Brand)
            </dd>

            <dt class="col-sm-3 font-weight-bold">
                @Html.DisplayNameFor(model => model.Model)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Model)
            </dd>

            <dt class="col-sm-3 font-weight-bold">
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Type)
            </dd>

            <dt class="col-sm-3 font-weight-bold">
                @Html.DisplayNameFor(model => model.DepartureTime)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DepartureTime)
            </dd>
        </dl>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="second">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        Order ID
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Estimated Arrival Time
                    </th>
                    <th>
                        ArrivalConfirm
                    </th>
                    <th>
                        ArrivalTime
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.AssignmentDetails)
                {
                <tr>
                    @if (item.ArrivalConfirm == false)
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderInfo.Id)
                    </td>
                    @if (item.InShipping == true)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderInfo.SourceAddress)
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderInfo.DestinationAddress)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderInfo.EstimateArrivalTime)
                    </td>
                    <td>
                        @item.ArrivalConfirm
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArrivalTime)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

