@model Models.AssignmentDetail

@{
    ViewData["Title"] = "Edit Assignment Detail";
    Layout = "~/Areas/_Layout.cshtml";
    ViewBag.Controller = "Driver";
}
<hr />
<form asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ShippingAssignmentId" />
    <input type="hidden" asp-for="OrderInfoId" />
    <input type="hidden" asp-for="InShipping" />
    <input type="hidden" asp-for="Status" />
    <input asp-for="DocData" type="hidden" />
    <input asp-for="DocType" type="hidden" />
    <input asp-for="DocName" type="hidden" />
    <div class="form-group row">
        <label asp-for="OrderInfoId" class="col-sm-3 font-weight-bold"></label>
        <span class="col-sm-9">@Html.DisplayFor(model => model.OrderInfoId)</span>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 font-weight-bold">Address</label>
        @if (Model.InShipping == true)
        {
            <span class="col-sm-9">@Html.DisplayFor(model => model.OrderInfo.SourceAddress)</span>
        }
        else
        {
            <span class="col-sm-9">@Html.DisplayFor(model => model.OrderInfo.DestinationAddress)</span>
        }
    </div>
    <div class="form-group row">
        <label asp-for="ArrivalConfirm" class="col-sm-3 font-weight-bold"></label>
        @Html.DropDownList("ArrivalConfirm", new List<SelectListItem>{
               new SelectListItem{ Text="Not Delivered", Value = "false" },
               new SelectListItem{ Text="Delivered", Value = "true" }}, new { @class = "form-control col-sm-9" })
    </div>
    <div class="form-group row">
        <label class="col-sm-3 font-weight-bold">Estimated Arrival Time</label>
        <span class="col-sm-9">@Html.DisplayFor(model => model.OrderInfo.EstimateArrivalTime)</span>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 font-weight-bold">Notes</label>
        <textarea asp-for="Notes" class="form-control col-sm-9"></textarea>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 font-weight-bold">Proof picture</label>
        <input asp-for="Doc" class="form-control col-sm-9" multiple/>
    </div>
    @if (Model.DocData != null)
    {
        <div class="form-group row">
            <label class="col-sm-3 font-weight-bold">File Name</label>
            <span class="col-sm-9">@Html.DisplayFor(model => model.DocName)</span>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 font-weight-bold">Attached File</label>
            <span class="col-sm-9"><img src="@ViewBag.ImageDataURL" width="600" /></span>
        </div>
        <div class="form-group">
            <a class="btn btn-danger" asp-action="DeleteImage" asp-route-id="@Model.Id">Remove Image</a>
        </div>
    }
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Details" asp-route-id=@Model.ShippingAssignmentId>Back to List</a>
</div>