@{
    ViewData["Title"] = "Maintenance Page";
}

<p>
    <a asp-action="Add">Add</a>
</p>
@model GroupStatusViewModel<Models.MaintenanceInfo>
<form asp-action="Index">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group col">
        <label class="mr-1 text-gray-800">Show</label>
        <select asp-for="StatusViewModel.SelectedValue" class="mr-1" asp-items="ViewBag.statusModel"></select>
        <label class="mr-3 text-gray-800">records</label>
        <input type="submit" formmethod="post" class="btn btn-primary" value="Update" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                Employee ID
            </th>
            <th>
                Vehicle ID
            </th>
            <th>
                Status
            </th>
            <th>
                Date Time
            </th>
            <th>
                Notes
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ClassModel)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datetime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
            </tr>
        }
    </tbody>
</table>
