@model TCMS_Web.Models.ShippingViewModel
@{
    ViewData["Title"] = "Shipping Assignment Details";
    string status;
    if (Model.Status == true) status = "Active";
    else if (Model.Status == false) status = "Inactive";
    else status = "Null";
    ViewBag.SActive = "active";

}
<div>
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#first" aria-controls="first" role="tab" data-toggle="tab">Basic Info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#second" aria-controls="second" role="tab" data-toggle="tab">Detailed Info</a>
        </li>
    </ul>
</div>

<div class="tab-content mt-3">

    <div role="tabpanel" class="tab-pane active" id="first">
        <dl class="row">
            <dt class="col-sm-3 font-weight-bold">
                @Html.DisplayNameFor(model => model.EmployeeID)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.EmployeeID)
            </dd>

            <dt class="col-sm-3 font-weight-bold">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt class="col-sm-3 font-weight-bold">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt class="col-sm-3 font-weight-bold">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dt class="col-sm-3 font-weight-bold">
                @Html.DisplayNameFor(model => model.VehicleID)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.VehicleID)
            </dd>

            <dt class="col-sm-3 font-weight-bold">
                @Html.DisplayNameFor(model => model.Brand)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Brand)
            </dd>

            <dt class="col-sm-3 font-weight-bold">
                @Html.DisplayNameFor(model => model.Model)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Model)
            </dd>

            <dt class="col-sm-3 font-weight-bold">
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Type)
            </dd>
            <dt class="col-sm-3 font-weight-bold">
                @Html.DisplayNameFor(model => model.DepartureTime)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DepartureTime)
            </dd>
            <dt class="col-sm-3 font-weight-bold">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-9">
                @status
            </dd>
        </dl>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="second">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Order ID
                    </th>
                    <th>
                        Source Address
                    </th>
                    <th>
                        Destination Address
                    </th>
                    <th>
                        Pay Status
                    </th>
                    <th>
                        Shipping Fee
                    </th>
                    <th>
                        InShipping
                    </th>
                    <th>
                        ArrivalConfirm
                    </th>
                    <th>
                        ArrivalTime
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.AssignmentDetails)
                {
                    string dStatus;
                    if (item.Status == true) dStatus = "Active";
                    else if (item.Status == false) dStatus = "Inactive";
                    else dStatus = "Null";
                    <tr>
                        <td>
                            <a asp-action="Details" asp-controller="OrderInfo" asp-route-id="@item.OrderInfoId">@item.OrderInfoId</a>
                        </td>
                        <td>
                            @item.OrderInfo.SourceAddress
                        </td>
                        <td>
                            @item.OrderInfo.DestinationAddresss
                        </td>
                        <td>
                            @item.OrderInfo.PayStatus
                        </td>
                        <td>
                            $@item.OrderInfo.ShippingFee
                        </td>
                        <td>
                            @item.InShipping
                        </td>
                        <td>
                            @item.ArrivalConfirm
                        </td>
                        <td>
                            @item.ArrivalTime
                        </td>
                        <td>
                            @dStatus
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
