@model TCMS_Web.Models.ShippingViewModel

@{
    ViewData["Title"] = "Edit Shipping Assignment";
}
<hr />
<div>
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#first" aria-controls="first" role="tab" data-toggle="tab">Basic</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#second" aria-controls="second" role="tab" data-toggle="tab">Detailed</a>
        </li>
    </ul>
</div>

<div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="first">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />
            <dl class="row">
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.EmployeeID)
                </dt>
                <dd class="col-sm-9">
                    <select asp-for="EmployeeID" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                    <span asp-validation-for="EmployeeID" class="text-danger"></span>
                </dd>

                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>

                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.VehicleID)
                </dt>
                <dd class="col-sm-9">
                    <select asp-for="VehicleID" class="form-control" asp-items="ViewBag.VehicleId"></select>
                    <span asp-validation-for="VehicleID" class="text-danger"></span>
                </dd>

                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Brand)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Brand)
                </dd>

                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Model)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Model)
                </dd>

                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Type)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Type)
                </dd>

                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.DepartureTime)
                </dt>
                <dd class="col-sm-9">
                    <input asp-for="DepartureTime" class="form-control" />
                    <span asp-validation-for="DepartureTime" class="text-danger"></span>
                </dd>

                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-9">
                    <input type="text" asp-for="Status" class="form-control" required />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </dd>
            </dl>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
    <div role="tabpanel" class="tab-pane" id="second">
        <p>
            <a asp-action="Add" asp-controller="AssignmentDetail" asp-route-Id="@Model.Id">Add</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        OrderInfo
                    </th>
                    <th>
                        InShipping
                    </th>
                    <th>
                        ArrivalConfirm
                    </th>
                    <th>
                        ArrivalTime
                    </th>
                    <th>
                        Status
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.AssignmentDetails)
                {
                <tr>
                    <td>
                        <a asp-action="Edit" asp-controller="AssignmentDetail" asp-route-id="@item.Id" asp-route-EditShippingAssignment="True">Edit</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderInfoId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InShipping)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArrivalConfirm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArrivalTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>