@*Code added by Nicholas DeSanctis   Date added: 9/25/21
  Purpose: Changes home page to where it displays, creates, and fills in the Company table 
*@

@{
    ViewData["Title"] = "Display Data";
    string[] TableHeaders = new string[] {"ID"
        ,"Name"
        ,"Status"
        ,"Address"
        ,"City"
        ,"State"
        ,"Zip"
        ,"ContactPerson"
    };
}

<div class="table">
    <table>
        <thead>
            <tr>
                @{ 
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }

                }
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var Data in Model)
                    {
                        <tr>
                            <td>@Data.ID</td>
                            <td>@Data.Name</td>
                            <td>@Data.Status</td>
                            <td>@Data.Address</td>
                            <td>@Data.City</td>
                            <td>@Data.State</td>
                            <td>@Data.Zip</td>
                            <td>@Data.ContactPerson</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
