@{
    ViewData["Title"] = "Profile";
    Layout = ViewBag.Layout;
}
@model Models.Employee
<hr />
<form asp-action="Profile">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <div class="col-sm-4 mb-3 mb-sm-0">
            <label asp-for="FirstName" class="control-label"></label>
            <input asp-for="FirstName" class="form-control" required />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="col-sm-4">
            <label asp-for="MiddleName" class="control-label"></label>
            <input asp-for="MiddleName" class="form-control" />
            <span asp-validation-for="MiddleName" class="text-danger"></span>
        </div>
        <div class="col-sm-4">
            <label asp-for="LastName" class="control-label"></label>
            <input asp-for="LastName" class="form-control" required />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div>
                <label>Employee ID</label>
                <input asp-for="Id" class="form-control" type="hidden"/>
            </div>
            <div>
                @Html.DisplayFor(model => model.Id)
            </div>
        </div>
        <div class="col col-sm-6">
            <div>
                @Html.DisplayNameFor(model => model.Position)
                <input asp-for="Position" class="form-control" type="hidden" />
            </div>
            <div>
                @Html.DisplayFor(model => model.Position)
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4 mb-3 mb-sm-0">
            <label asp-for="UserName" class="control-label"></label>
            <input asp-for="UserName" class="form-control" required />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="col-sm-4">
            <div>
                @Html.DisplayNameFor(model => model.Email)
                <input asp-for="Email" class="form-control" type="hidden" />
            </div>
            <div>
                @Html.DisplayFor(model => model.Email)
            </div>
        </div>

        <div>
            <a asp-action="UpdateEmail" asp-route-id="@Model.Id" asp-route-type="@ViewBag.Controller" class="btn btn-primary">Edit</a>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control" required />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <div class="col-sm-4 mb-3 mb-sm-0">
            <label asp-for="City" class="control-label"></label>
            <input asp-for="City" class="form-control" required />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="col-sm-4">
            <label asp-for="State" class="control-label"></label>
            <input asp-for="State" class="form-control" required />
            <span asp-validation-for="State" class="text-danger"></span>
        </div>
        <div class="col-sm-4">
            <label asp-for="Zip" class="control-label"></label>
            <input asp-for="Zip" class="form-control" required />
            <span asp-validation-for="Zip" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <label class="control-label">Cell Phone</label>
            <input asp-for="PhoneNumber" class="form-control" required />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="col-sm-6">
            <label asp-for="HomePhoneNum" class="control-label"></label>
            <input asp-for="HomePhoneNum" class="form-control" />
            <span asp-validation-for="HomePhoneNum" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0 col">
            <div>
                @Html.DisplayNameFor(model => model.PayRate)
                <input asp-for="PayRate" class="form-control" type="hidden" />
            </div>
            <div>
                @Html.DisplayFor(model => model.PayRate)
            </div>
        </div>
        <div class="col-sm-6 col">
            <div>
                @Html.DisplayNameFor(model => model.StartDate)
                <input asp-for="StartDate" class="form-control" type="hidden" />
            </div>
            <div>
                @Html.DisplayFor(model => model.StartDate)
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" formmethod="post" value="Update Profile" class="btn btn-primary" asp-route-type="@ViewBag.Controller"/>
    </div>
</form>
<div>
    <a asp-action="Index" asp-controller="@ViewBag.Controller" asp-area="@ViewBag.Area">Back to Dashboard</a>
</div>