@{
    ViewData["Title"] = "Update Email";
    Layout = ViewBag.Layout;
}
@model UpdateEmailViewModel
<hr />
<form asp-action="UpdateEmail">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <div class="font-weight-bold">
            @Html.DisplayNameFor(model => model.Id)
            <input asp-for="Id" class="form-control" type="hidden" />
        </div>
        <div>
            @Html.DisplayFor(model => model.Id)
        </div>
    </div>
    <div class="form-group">
        <div class="font-weight-bold">
            @Html.DisplayNameFor(model => model.OldEmail)
            <input asp-for="OldEmail" class="form-control" type="hidden" />
        </div>
        <div>
            @Html.DisplayFor(model => model.OldEmail)
        </div>
    </div>
    <div class="form-group">
        <label asp-for="NewEmail" class="control-label font-weight-bold"></label>
        <input asp-for="NewEmail" class="form-control" required />
        <span asp-validation-for="NewEmail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" formmethod="post" value="Update Email" class="btn btn-primary" asp-route-type="@ViewBag.Controller"/>
    </div>
</form>
<div>
    <a asp-action="Index" asp-controller="@ViewBag.Controller" asp-area="@ViewBag.Area" asp-route-type="@ViewBag.Controller">Back to Dashboard</a>
</div>
