@model Models.OrderInfo

@{
    ViewData["Title"] = "Order Info Details";
    string status;
    if (Model.Status == true) status = "Active";
    else if (Model.Status == false) status = "Inactive";
    else status = "Null";
    ViewBag.OActive = "active";
}

    <hr />
    <dl class="row">
        <dt class="col-sm-3 font-weight-bold">
            Order ID
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.SourceAddress)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SourceAddress)
        </dd>
        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.DestinationAddresss)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DestinationAddresss)
        </dd>
        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-9">
            @status
        </dd>
        
        <dt class = "col-sm-3 font-weight-bold">
            File Name
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.DocName)
        </dd>
        <dt class = "col-sm-3 font-weight-bold">
            Attached File
        </dt>
        <dd class = "col-sm-9">
            <img src= "@ViewBag.ImageDataURL" />
        </dd>
        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.SourcePay)
        </dt>
        <dd class="col-sm-9">
            @Model.SourcePay
        </dd>
        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.PayStatus)
        </dt>
        <dd class="col-sm-9">
            @Model.PayStatus
        </dd>
        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.TotalOrder)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.TotalOrder)
        </dd>
        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.ShippingFee)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ShippingFee)
        </dd>
        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.EstimateArrivalTime)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.EstimateArrivalTime)
        </dd>
        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Destination.Id)
        </dd>
        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Source.Id)
        </dd>
    </dl>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
