@model Models.OrderInfo

@{
    ViewData["Title"] = "Edit Order Info";
    ViewBag.OActive = "active";
}
<hr />
<form asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="DocData" type="hidden" />
    <input asp-for="DocType" type="hidden" />
    <input asp-for="DocName" type="hidden" />
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label class="control-label font-weight-bold">Order ID</label>
        <input type="hidden" asp-for="Id" />
        <div class="col-sm-12">
            @Html.DisplayFor(model => model.Id)
        </div>
    </div>
    <div class="form-group">
        <label class="control-label font-weight-bold">Source Company</label>
        <select asp-for="SourceId" class="form-control" asp-items="ViewBag.SourceId"></select>
    </div>
    <div class="form-group">
        <label class="control-label font-weight-bold">Destination Company</label>
        <select asp-for="DestinationId" class="form-control" asp-items="ViewBag.DestinationId"></select>
    </div>
    <div class="form-group">
        <label asp-for="SourceAddress" class="control-label font-weight-bold"></label>
        <input asp-for="SourceAddress" class="form-control" />
        <span asp-validation-for="SourceAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DestinationAddresss" class="control-label font-weight-bold"></label>
        <input asp-for="DestinationAddresss" class="form-control" />
        <span asp-validation-for="DestinationAddresss" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Status" class="control-label font-weight-bold"></label>
        <div>
            @Html.DropDownList("Status", new List<SelectListItem>{
               new SelectListItem{ Text="Active", Value = "true" },
               new SelectListItem{ Text="Inactive", Value = "false" }}, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label font-weight-bold">Receipt File</label>
        <input asp-for="Doc" class="form-control" multiple/>
        <span asp-validation-for="Doc" class="text-danger"></span>
    </div>
    @if (Model.DocData != null)
    {
        <div class="form-group">
            <label class="control-label font-weight-bold">File Name</label>
            <div class="col-sm-12">
                @Html.DisplayFor(model => model.DocName)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label font-weight-bold"> Attached File</label>
            <div class="col-sm-12">
                <img src="@ViewBag.ImageDataURL" width="600" />
            </div>
        </div>
        <div class="form-group">
            <a class="btn btn-danger" asp-action="DeleteImage" asp-route-id ="@Model.Id">Remove Image</a>
        </div>
    }
    <div class="form-group">
        <label asp-for="SourcePay" class="control-label font-weight-bold"></label>
        <div>
            @Html.DropDownList("SourcePay", new List<SelectListItem>{
               new SelectListItem{ Text="True", Value = "true" },
               new SelectListItem{ Text="False", Value = "false" }}, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label asp-for="PayStatus" class="control-label font-weight-bold"></label>
        <div>
            @Html.DropDownList("PayStatus", new List<SelectListItem>{
               new SelectListItem{ Text="True", Value = "true" },
               new SelectListItem{ Text="False", Value = "false" }}, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label asp-for="TotalOrder" class="control-label font-weight-bold"></label>
        <input asp-for="TotalOrder" class="form-control" required />
        <span asp-validation-for="TotalOrder" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShippingFee" class="control-label font-weight-bold"></label>
        <input asp-for="ShippingFee" class="form-control" required />
        <span asp-validation-for="ShippingFee" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EstimateArrivalTime" class="control-label font-weight-bold"></label>
        <input asp-for="EstimateArrivalTime" class="form-control" required />
        <span asp-validation-for="EstimateArrivalTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>        

<h4>Current Source Company Info</h4>
<hr />
<dl class="row">
    <dt class="col-sm-4">
        @Html.DisplayName("Source Company Name:")
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Source.Name)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayName("Source Company Address:")
    </dt>
    <dd class="col-sm-12">
        @Html.DisplayFor(model => model.Source.Address)
        @Html.DisplayName(" ")
        @Html.DisplayFor(model => model.Source.City)
        @Html.DisplayName(",")
        @Html.DisplayFor(model => model.Source.State)
        @Html.DisplayName(" ")
        @Html.DisplayFor(model => model.Source.Zip)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayName("Source Company Contact Info:")
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Source.ContactPerson)
    </dd>
</dl>

<hr />
<h4>Current Destination Company Info</h4>
<hr />
<dl class="row">
    <dt class="col-sm-4">
        @Html.DisplayName("Destination Company Name:")
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Destination.Name)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayName("Destination Company Address:")
    </dt>
    <dd class="col-sm-12">
        @Html.DisplayFor(model => model.Destination.Address)
        @Html.DisplayName(" ")
        @Html.DisplayFor(model => model.Destination.City)
        @Html.DisplayName(",")
        @Html.DisplayFor(model => model.Destination.State)
        @Html.DisplayName(" ")
        @Html.DisplayFor(model => model.Destination.Zip)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayName("Destination Company Contact Info:")
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Destination.ContactPerson)
    </dd>
</dl>



<div>
    <a asp-action="Index">Back to List</a>
</div>
