@model Models.OrderInfo

@{
    ViewData["Title"] = "Edit Order Info";
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SourceId" class="control-label"></label>
                <select asp-for="SourceId" class="form-control" asp-items="ViewBag.SourceId"></select>
                <span asp-validation-for="SourceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DestinationId" class="control-label"></label>
                <select asp-for="DestinationId" class="form-control" asp-items="ViewBag.DestinationId"></select>
                <span asp-validation-for="DestinationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SourceAddress" class="control-label"></label>
                <input asp-for="SourceAddress" class="form-control" />
                <span asp-validation-for="SourceAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DestinationAddresss" class="control-label"></label>
                <input asp-for="DestinationAddresss" class="form-control" />
                <span asp-validation-for="DestinationAddresss" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            @*
                <div class="form-group">
                    <label asp-for="DocName" class="control-label"></label>
                    <input asp-for="DocName" class="form-control" />
                    <span asp-validation-for="DocName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DocType" class="control-label"></label>
                    <input asp-for="DocType" class="form-control" />
                    <span asp-validation-for="DocType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DocData" class="control-label"></label>
                    <input asp-for="DocData" class="form-control" />
                    <span asp-validation-for="DocData" class="text-danger"></span>
                </div>
            *@
            <div class="form-group">
                <label asp-for="SourcePay" class="control-label"></label>
                <input asp-for="SourcePay" class="form-control" />
                <span asp-validation-for="SourcePay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayStatus" class="control-label"></label>
                <input asp-for="PayStatus" class="form-control" />
                <span asp-validation-for="PayStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalOrder" class="control-label"></label>
                <input asp-for="TotalOrder" class="form-control" />
                <span asp-validation-for="TotalOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingFee" class="control-label"></label>
                <input asp-for="ShippingFee" class="form-control" />
                <span asp-validation-for="ShippingFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimateArrivalTime" class="control-label"></label>
                <input asp-for="EstimateArrivalTime" class="form-control" />
                <span asp-validation-for="EstimateArrivalTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<h4>Current Source Company Info</h4>
<hr />
<dl class="row">
    <dt class="col-sm-4">
        @Html.DisplayName("Source Company Name:")
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Source.Name)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayName("Source Company Address:")
    </dt>
    <dd class="col-sm-12">
        @Html.DisplayFor(model => model.Source.Address)
        @Html.DisplayName(" ")
        @Html.DisplayFor(model => model.Source.City)
        @Html.DisplayName(",")
        @Html.DisplayFor(model => model.Source.State)
        @Html.DisplayName(" ")
        @Html.DisplayFor(model => model.Source.Zip)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayName("Source Company Contact Info:")
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Source.ContactPerson)
    </dd>
</dl>

<hr />
<h4>Current Destination Company Info</h4>
<hr />
<dl class="row">
    <dt class="col-sm-4">
        @Html.DisplayName("Destination Company Name:")
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Destination.Name)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayName("Destination Company Address:")
    </dt>
    <dd class="col-sm-12">
        @Html.DisplayFor(model => model.Destination.Address)
        @Html.DisplayName(" ")
        @Html.DisplayFor(model => model.Destination.City)
        @Html.DisplayName(",")
        @Html.DisplayFor(model => model.Destination.State)
        @Html.DisplayName(" ")
        @Html.DisplayFor(model => model.Destination.Zip)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayName("Destination Company Contact Info:")
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Destination.ContactPerson)
    </dd>
</dl>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
