@model Models.AssignmentDetail

@{
    ViewData["Title"] = "Edit Assignment Detail";
    ViewBag.SActive = "active";
}
<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ShippingAssignmentId" />
    <input asp-for="DocData" type="hidden" />
    <input asp-for="DocType" type="hidden" />
    <input asp-for="DocName" type="hidden" />
    <div class="form-group">
        <label asp-for="OrderInfoId" class="control-label font-weight-bold"></label>
        <select asp-for="OrderInfoId" class="form-control" asp-items="ViewBag.OrderInfoId"></select>
    </div>
    <div class="form-group">
        <label asp-for="InShipping" class="control-label font-weight-bold"></label>
        <div>
            @Html.DropDownList("InShipping", new List<SelectListItem>{
               new SelectListItem{ Text="True", Value = "true" },
               new SelectListItem{ Text="False", Value = "false" }}, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ArrivalConfirm" class="control-label font-weight-bold"></label>
        <div>
            @Html.DropDownList("ArrivalConfirm", new List<SelectListItem>{
               new SelectListItem{ Text="False", Value = "false" },
               new SelectListItem{ Text="True", Value = "true" }}, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ArrivalTime" class="control-label font-weight-bold"></label>
        <input asp-for="ArrivalTime" class="form-control" />
        <span asp-validation-for="ArrivalTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Status" class="control-label font-weight-bold"></label>
        <div>
            @Html.DropDownList("Status", new List<SelectListItem>{
                new SelectListItem{ Text="Active", Value = "true" },
                new SelectListItem{ Text="Inactive", Value = "false" }}, new { @class = "form-control" })
        </div>
    </div>
    @if (Model.DocData != null)
    {
        <div class="form-group">
            <label class="control-label font-weight-bold">File Name</label>
            <div class="col-sm-12">
                @Html.DisplayFor(model => model.DocName)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label font-weight-bold">Proof picture</label>
            <div class="col-sm-12">
                <img src="@ViewBag.ImageDataURL" width="600" />
            </div>
        </div>
    }
    <div class="form-group">
        <label asp-for="Notes" class="control-label font-weight-bold"></label>
        <textarea asp-for="Notes" class="form-control"></textarea>
        <span asp-validation-for="Notes" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-controller="Shipping" asp-action="Edit" asp-route-id=@Model.ShippingAssignmentId> Back to Edit Shipping Assignment</a>
</div>
