@model IEnumerable<Models.AssignmentDetail>
@{
    ViewData["Title"] = "Shipping Detail page";
}
<p>
    <a asp-action="Add">Add new</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InShipping)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalConfirm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingAssignmentId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderInfoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InShipping)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalConfirm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingAssignmentId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            </td>
        </tr>
        }
    </tbody>
</table>