@{
    ViewData["Title"] = "Company Page";
    ViewBag.CActive = "active";
}
<p>
    <a asp-action="Add"> Add </a>
</p>
@model GroupStatusViewModel<Models.Company>
<form asp-action="Index">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group col">
        <label class="mr-1 text-gray-800">Show</label>
        <select asp-for="StatusViewModel.SelectedValue" class="mr-1" asp-items="ViewBag.statusModel"></select>
        <label class="mr-3 text-gray-800">records</label>
        <input type="submit" formmethod="post" class="btn btn-primary" value="Update" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                Full Company Name
            </th>
            <th>
                Status
            </th>
            <th>
                Address
            </th>
            <th>
                City
            </th>
            <th>
                State
            </th>
            <th>
                Zip
            </th>
            <th>
                Contact Person
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ClassModel)
        {
            string status;
            @if (item.Status == true) status = "Active";
            else if (item.Status == false) status = "Inactive";
            else status = "Null";
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @status
                </td>
                <td>
                    @item.Address
                </td>
                <td>
                    @item.City
                </td>
                <td>
                    @item.State
                </td>
                <td>
                    @item.Zip
                </td>
                <td>
                    @item.ContactPerson
                </td>
            </tr>
        }
    </tbody>
</table>
